@font-face{
    font-family: "proxima_nova_regular";
    src: url("../fonts/proximanovaregular-webfont.woff2") format ("woff2");
    src: url("../fonts/proximanovaregular-webfont.woff") format ("woff");
    font-weight: normal;
    font-style: normal;
}